<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <configSections>
          <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
               <section name="ReportApp.Version" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
               <section name="ReportApp.PathSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
          </sectionGroup>
          <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
               <section name="ReportApp.PathSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
               <section name="ReportApp.View.VehiclePasses" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
               <section name="ReportApp.LoadStatus" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
          </sectionGroup>
     <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
     <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     </configSections>
     <startup>
          <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
     </startup>
     <system.diagnostics>
          <trace autoflush="true">
               <listeners>
                    <add name="myListener" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceOutput.txt" />
               </listeners>
          </trace>
     </system.diagnostics>
     <applicationSettings>
          <ReportApp.Version>
               <setting name="VersionString" serializeAs="String">
                    <value>2.033</value>
               </setting>
          </ReportApp.Version>
          <ReportApp.PathSettings>
               <setting name="DatabasePath" serializeAs="String">
                    <value>c:\CTApp\DB\Data.sqlite</value>
               </setting>
               <setting name="VehicleDatabasePath" serializeAs="String">
                    <value>c:\CTApp\DB\Vehicle.sqlite</value>
               </setting>
               <setting name="ReportSettingsPath" serializeAs="String">
                    <value>c:\CTApp\Settings\Report.xml</value>
               </setting>
               <setting name="PhoneDatabasePath" serializeAs="String">
                    <value>c:\CTApp\DB\Phone.sqlite</value>
               </setting>
               <setting name="HelpPath" serializeAs="String">
                    <value>c:\CTApp\Help\</value>
               </setting>
               <setting name="ShiftEntryPresetLocation" serializeAs="String">
                    <value>C:\CTApp\Shift Entry Presets\</value>
               </setting>
               <setting name="DefaultSaveLocation" serializeAs="String">
                    <value>f:\</value>
               </setting>
               <setting name="OtherDatabasePath" serializeAs="String">
                    <value>c:\CTApp\DB\Other.sqlite</value>
               </setting>
          </ReportApp.PathSettings>
     </applicationSettings>
     <userSettings>
          <ReportApp.PathSettings>
               <setting name="SettingsLocation" serializeAs="String">
                    <value>c:\CTApp\Settings\</value>
               </setting>
          </ReportApp.PathSettings>
          <ReportApp.View.VehiclePasses>
               <setting name="Passes" serializeAs="Xml">
                    <value>
                         <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                    </value>
               </setting>
          </ReportApp.View.VehiclePasses>
          <ReportApp.LoadStatus>
               <setting name="LoadedOkay" serializeAs="String">
                    <value>True</value>
               </setting>
          </ReportApp.LoadStatus>
     </userSettings>
     <runtime>
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
               <dependentAssembly>
                    <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
                    <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
               </dependentAssembly>
               <dependentAssembly>
                    <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
                    <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
               </dependentAssembly>
          </assemblyBinding>
     </runtime>
     <entityFramework>
          <providers>
               <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
          </providers>
     </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data></configuration>